
@{
    ViewBag.Title = "Forgot Password";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="text-success">
            @ViewBag.Message
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Email Address</label>
            @Html.TextBox("EmailID", "", new { @class="form-control" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-success" />

            </div>
        </div>
    </div>
}